<table id="save_pdf"  ng-init="generateInvoice()" ng-controller="userCtrl">
	<thead>	
	    <tr>
			<th>Name :{{ user.first_name }} {{user.last_name}}</th>
	    </tr>		
		<tr>
			<th>Room No. :{{ room.rnumber }}</th>
		</tr>
		<tr>
          <th>Date</th>
          <th>Rent</th>
          <th>Last Month Pending</th>
          <th>Total</th>
          <th>Paid Amount</th>
          <th>Pending</th>
          <th>Action</th>
        </tr>
	</thead>
	<tbody>
		<tr>
	       <td>{{ rent.paid_date | date:'dd/MM/yyyy' }}</td>
		   <td>{{ room.rent }}</td>
		   <td>{{ previous_pending_amount }}</td>
		   <td>{{ total_amount }}</td>		
		   <td>{{ rent.paid_amount }}</td>
		   <td>{{ pending }}</td>		  	
		   <td><a onClick ="$('#save_pdf').tableExport({type:'pdf'});" title="Download pdf" ><span><i class="glyphicon glyphicon-save"></i></span></a></td>		  	
		</tr>
		
	</tbody>
</table> 
