<a onClick ="$('#save_pdf').tableExport({type:'pdf',escape:'false',separator:''});" title="Show pdf" ><span><i class="glyphicon glyphicon-save" style="color:white;font-size: 25px"></i></span></a>

<table id="save_pdf"  ng-init="generateInvoice()" class="table" ng-controller="userCtrl">
	<thead>	
	    <tr>
			<th id="th12" colspan="4">Rent invoice </th>
	    </tr>
	</thead>
	<tbody>
		<tr>
			<td>Invoice No : {{room.id}}</td>
	    </tr>
		<tr>
			<td>Name : {{ user.first_name }} {{ user.last_name}}</td>
	    </tr>		
		<tr >
			<td>Room No : {{ room.rnumber}}</td>
		</tr>
		<tr>
          <td>Date</td>
          <td>Rent</td>
          <td>Paid Amount</td>
          <td>Pending</td>
        </tr>
		<tr>
	       <td>{{ rent.paid_date | date:'dd/MM/yyyy' }}</td>
		   <td>{{ room.rent }}</td>	
		   <td>{{ rent.paid_amount }}</td>
		   <td>{{ rent.pending_amount }}</td>		  			  	
		</tr>
		<tr>
		  <td>Date : {{current_date | date:'dd/MM/yyyy'}}</td>
		</tr>
		<tr>
	       <td colspan="4">Signature</td>		  			  	
	       	
		</tr>
		
	</tbody>
</table> 
