<div ng-init="usersList()" ng-controller="userCtrl">
	
	<!--Users List -->
	
	<div  class="container" >
		<div class="row">
			<div class="col-sm-2"><h1>All Users </h1></div>
			<div class="col-sm-1">
				  <a href="#/addUser"><button class="btn btn-block btn-primary btn-lg" >Add User</button></a>
			</div>
		</div>
			
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Aadhar Number</th>
          <th>Marital Status</th>
          <th>phone number</th>
          <th>Gender</th>
          <th>Room Id</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="user.id == current_user.id" ng-repeat="user in users">
          <td>{{ user.first_name }}</td>
		  <td>{{ user.last_name }}</td>
		  <td>{{ user.address }}</td>
		  <td>{{ user.aadhar_number }}</td>		
		  <td>{{ user.status }}</td>
		  <td>{{ user.phone }}</td>		  
		  <td>{{ user.gender }}</td>
		  <td>{{ user.room_id }}</td>
		  <td><a href="#/" title="View Rent" ><span><i class="glyphicon glyphicon-eye-open"></i></span></a>&nbsp; &nbsp;| &nbsp; &nbsp;
			  <a href="#/user/{{user.id}}/edit" title="Eidt Profile"><span><i class="glyphicon glyphicon-edit"></i></span></a>&nbsp; &nbsp;| &nbsp; &nbsp;
		      <a href="#/user/{{user.id}}/deleted" title="Delete Profile" ng-click="deleteUser(user.id)"><span><i class="glyphicon glyphicon-trash"></i></span></a>&nbsp; &nbsp;| &nbsp; &nbsp;
		      <a href="#/assignRoom" ng-show="user.room_id == null" ng-click="issueRoom(user.id)" title="Assign Room" ><span><i class="glyphicon glyphicon-home"></i></span></a>
		      <a ng-show="user.room_id != null"  ng-click="cancelRoom(user.id)" title="Cancel Room" ><span><i class="glyphicon glyphicon-remove-circle"></i></span></a>
		  </td>
        </tr>
      </tbody>
    </table>
</div>

